
@import url('base.css');
@import url(//fonts.googleapis.com/css?family=RobotoDraft:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);



html {
	height: 100%;
	cursor: default;
	font-family: 'RobotoDraft', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: rgba(0, 0, 0, 0.73);
	background: #eee;
}

html.loading * {
	cursor: progress;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	outline: none;
}

table {
	border-collapse: collapse;
}

ul, ol, dl {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

abbr {
	border-bottom: 1px dotted;
	cursor: help;
}

strong {
	font-weight: 500;
}

a,
a:visited,
a:focus {
	outline: none;
	text-decoration: none;
	color: #15C;
}



.z1 {
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.z2 {
	box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.z3 {
	box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19);
}

.z4 {
	box-shadow: 0px 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.z5 {
	box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
}

@keyframes appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes disappear {
	from { opacity: 1; }
	to { opacity: 0; }
}

@-webkit-keyframes disappear {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slideout {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes slideout {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}



div#content {
	overflow-y: scroll;
}

div#main-view {
	margin: 1em 0;
	background: #fff url('/assets/card-background.png') no-repeat bottom right;
}

div#footer {
	margin-bottom: 1em;
	font-size: 0.9em;
	font-weight: 300;
}



div#items div#menu-container {
	background-color: #00acc1;
}

div#items table#menu {
	width: 100%;
	font-size: 0.7em;
	color: #fff;
}

div#items table#menu td.group {
	padding: 0.6em;
	background-color: #00838f;
	text-align: center;
}

div#items table#menu td.type {
	padding: 0.3em;
	background-color: #0097a7;
	text-align: center;
}

div#items table#menu td.type a {
	padding: 0.3em;
}

div#items table#menu td.category {
	padding: 0.3em;
}

div#items table#menu td.category a {
	float: left;
	margin-right: 0.3em;
	padding: 0.3em;
}

div#items table#menu td {
	text-transform: uppercase;
}

div#items table#menu tr.group-first-row td {
	border-top: 1px dotted;
}

div#items table#menu tr.group-first-row:first-child td {
	border-top: none;
}

div#items table#menu a {
	color: inherit;
	white-space: nowrap;
}

div#items table#menu a:hover,
div#items table#menu a.active {
	color: #ffd180;
}



div#items div#table-container {
	padding: 1em 0;
}

div#items div#table-view.ng-enter,
div#items table#table tr.ng-enter {
	animation: appear 0.5s ease-out;
	-webkit-animation: appear 0.5s ease-out;
}

div#items table#table tr.ng-enter {
	-ms-animation: none;
}

div#items table#table {
	width: 100%;
}

div#items table#table th {
	text-align: left;
	font-size: 0.9em;
	font-weight: 300;
	white-space: nowrap;
}

div#items table#table th:hover {
	background-color: #f5f5f5;
}

div#items table#table th div.name {
	padding: 0.3em 0 0.3em 0.6em;
	text-transform: uppercase;
}

div#items table#table td {
	padding: 0.3em 0.6em;
	border-bottom: 1px solid #ddd;
	font-size: 0.9em;
}

div#items table#table tr:last-child td {
	border-bottom: none;
}

div#items table#table th:first-child,
div#items table#table td:first-child {
	padding-left: 1.5em;
}

div#items table#table td:first-child {
	width: 41px;
}

div#items table#table tr.selected td {
	background-color: #f5f5f5;
}

div#items table#table tbody.empty td {
	padding: 3em;
	text-align: center;
}

div#items table#table td div.icon {
	cursor: help;
}



div#items table#table th div.menu i.open {
	visibility: hidden;
	padding: 0.3em 0.6em;
	cursor: pointer;
}

div#items table#table th:hover div.menu i.open,
div#items table#table th.option-enabled div.menu i.open {
	visibility: visible;
}

div#items table#table th div.menu:hover i.open,
div#items table#table th.option-enabled div.menu i.open {
	color: #ffd180;
}

div#items table#table th div.menu {
	position: relative;
}

div#items table#table th div.menu ol.options {
	position: absolute;
	margin-top: -10px;
	padding: 1em 0;
	background-color: #f5f5f5;
}

div#items table#table th div.menu ol.options li {
	padding: 0.3em 2em 0.3em 1em;
	cursor: pointer;
}

div#items table#table th div.menu ol.options li:hover {
	background-color: #e0e0e0;
}

div#items table#table th div.menu ol.options li i {
	width: 1em;
}



div.object-material div.title span.name {
	white-space: nowrap;
}

div.object-material div.title div.icon {
	padding-right: 1em;
}

div.object-material div.title div.classification,
div.object-material div.requirements > span {
	font-size: 0.9em;
}

div.object-material div.main {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

div.object-material ul.properties span.property {
	white-space: nowrap;
}

div.object-material ul.properties span.key {
	font-weight: 500;
}

div.object-material ul.properties li {
	display: inline;
	padding-right: 0.3em;
}

div.object-material ul.properties li span.quality i {
	cursor: pointer;
}

div.object-material ul.properties + div.description {
	margin-top: 1em;
}



div.object-material div.enhance div.info {
	padding: 1em 0;
	border-bottom: 1px solid #ddd;
}

div.object-material div.enhance div.level {
	border: 1px solid transparent;
	border-right: 0;
	border-left: 0;
}

div.object-material div.enhance div.level div.name,
div.object-material div.enhance div.level div.marker,
div.object-material div.enhance div.level div.chance {
	border: 1px solid transparent;
	border-top: 0;
	border-bottom: 0;
}

div.object-material div.enhance div.level.unselected {
	border-bottom: 1px solid #ddd;
}

div.object-material div.enhance div.level.selected {
	border-top: 1px solid #ddd;
}

div.object-material div.enhance div.level.selected.start div.name,
div.object-material div.enhance div.level.selected.start div.marker,
div.object-material div.enhance div.level.selected.start div.chance {
	border-left: 1px solid #ddd;
}

div.object-material div.enhance div.level.selected.end div.name,
div.object-material div.enhance div.level.selected.end div.marker,
div.object-material div.enhance div.level.selected.end div.chance {
	border-right: 1px solid #ddd;
}

div.object-material div.enhance div.level div.name {
	font-weight: 500;
}

div.object-material div.enhance div.level div.selector {
	width: 2.2em;
	height: 2.2em;
	cursor: pointer;
}

div.object-material div.enhance div.level div.selector.enabled {
	border-radius: 3em;
	background-color: #e0e0e0;
	cursor: move;
}

div.object-material div.enhance div.level div.name,
div.object-material div.enhance div.level div.chance span {
	padding: 0.3em 0 0.3em 0;
}

div.object-material div.enhance div.level div.marker {
	height: 0.5em;
}

div.object-material div.enhance div.level.selected div.marker {
	cursor: help;
}

div.object-material div.enhance div.levels.clear div.level.risk-none div.marker,
div.object-material div.enhance div.level.selected.risk-none div.marker {
	border-color: #2e7d32;
	background-color: #2e7d32;
}

div.object-material div.enhance div.levels.clear div.level.risk-downgrade div.marker,
div.object-material div.enhance div.level.selected.risk-downgrade div.marker {
	border-color: #827717;
	background-color: #827717;
}

div.object-material div.enhance div.levels.clear div.level.risk-reset div.marker,
div.object-material div.enhance div.level.selected.risk-reset div.marker {
	border-color: #ef6c00;
	background-color: #ef6c00;
}

div.object-material div.enhance div.levels.clear div.level.risk-break div.marker,
div.object-material div.enhance div.level.selected.risk-break div.marker {
	border-color: #d84315;
	background-color: #d84315;
}

div.object-material div.enhance div.level div.chance {
	visibility: hidden;
	font-size: 0.9em;
}

div.object-material div.enhance div.levels.clear div.chance,
div.object-material div.enhance div.level.selected div.chance {
	visibility: visible;
	cursor: help;
}

div.object-material div.enhance div.info > div {
	display: table-row;
}

div.object-material div.enhance div.info > div > * {
	display: table-cell;
	padding: 0.3em 0;
}

div.object-material div.enhance div.info > div > *:first-child {
	padding-right: 0.3em;
	font-weight: 300;
	text-transform: uppercase;
}

div.object-material div.enhance div.info ul.mats li.mat {
	display: inline;
	padding-right: 0.3em;
}



div.object-material table.parts {
	width: 100%;
}

div.object-material table.parts tr > * {
	padding: 0.3em 0.6em;
	font-size: 0.9em;
}

div.object-material table.parts thead th {
	text-align: left;
	font-weight: 300;
	text-transform: uppercase;
}

div.object-material table.parts tfoot.effects td {
	font-weight: 500;
}

div.object-material table.parts th:first-child,
div.object-material table.parts td:first-child {
	padding-left: 0;
}

div.object-material table.parts tbody td:first-child {
	width: 31px;
	padding-right: 0;
}

div.object-material table.parts tbody td:nth-child(2) {
	padding-left: 0;
}

div.object-material table.parts div.icon {
	margin-right: 1em;
	cursor: help;
}

div.object-material table.parts tbody tr {
	opacity: 0.25;
	cursor: pointer;
}

div.object-material table.parts tbody tr.selected {
	opacity: 1;
}

div.object-material table.parts tbody tr:last-child td {
	padding-bottom: 1em;
}

div.object-material table.parts tfoot.effects td {
	height: 30px;
}

div.object-material table.parts tfoot.effects {
	border-top: 1px solid #ddd;
}

div.object-material table.parts tfoot.effects tr {
	display: none;
}

div.object-material table.parts tfoot.effects tr.active {
	display: table-row;
}



div.object-material div.recipe.npc {
	border-right: 1px solid #ddd;
}

div.object-material div.recipe div.crafted-by {
	height: 55px;
	border-bottom: 1px solid #ddd;
}

div.object-material div.recipe div.crafted-by img {
	cursor: help;
	padding-right: 0.5em;
}

div.object-material div.recipe div.crafted-by span.expertise {
	font-weight: 500;
}

div.object-material div.recipe.npc ul.mats {
	margin: 1em 2em 1em 0;
}

div.object-material div.recipe.pc ul.mats {
	margin: 1em 0 1em 2em;
}

div.object-material div.recipe ul.mats li.mat {
	padding-top: 0.3em;
	font-size: 0.9em;
}

div.object-material div.recipe ul.mats div.icon {
	margin-right: 1em;
	cursor: help;
}

div.object-material div.recipe div.appear span.quest {
	font-weight: 500;
}

@media (max-width: 959px) {

	div.object-material div.recipe.npc {
		border-right: 0;
		margin-bottom: 1em;
	}

	div.object-material div.recipe.npc ul.mats {
		margin: 0;
	}

	div.object-material div.recipe.pc ul.mats {
		margin: 0;
	}

}



div#object-hovercard {
	position: fixed;
	z-index: 1000;
	width: 27em;
	padding: 0.5em 0;
	font-size: 0.9em;
	background-color: #f5f5f5;
}

div#object-hovercard.ng-hide {
	display: block !important;
	visibility: hidden;
}

div#object-hovercard.ng-hide-remove {
	animation: slideout 0.1s ease;
	-webkit-animation: slideout 0.1s ease;
}

div#object-hovercard > div > * {
	padding: 0.5em 1em;
}



div#object-card-container {
	position: fixed;
	z-index: 100;
	overflow-y: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(229, 229, 229, 0.75);
}

div#object-card {
	margin: 10% auto;
	font-size: 0.9em;
	background-color: #f5f5f5;
}

div#object-card-view.ng-enter {
	animation: appear 0.3s ease-out;
	-webkit-animation: appear 0.3s ease-out;
}

div#object-card-view.ng-enter div#object-card {
	animation: slideout 0.3s ease;
	-webkit-animation: slideout 0.3s ease;
}

div#object-card-view.ng-leave {
	animation: disappear 0.3s ease-out;
	-webkit-animation: disappear 0.3s ease-out;
}

div#object-card-view.ng-leave {
	-ms-animation: none;
}

div#object-card > div > * {
	padding: 1em 1.5em;
}

div#object-card > div:first-child > * {
	padding-top: 1.5em;
}

div#object-card > div:last-child > * {
	padding-bottom: 1.5em;
}



div#items table#table td div.icon,
div.object-material div.icon {
	width: 40px;
	height: 40px;
}

div.object-material div.recipe ul.mats div.icon,
div.object-material table.parts div.icon {
	width: 30px;
	height: 30px;
}

div#items table#table td div.icon img,
div.object-material div.icon img {
	border: 1px solid #555;
	border-radius: 20px;
	background: url('/data/icons/0.png') no-repeat center center;
}

div#items table#table td span.name,
div.object-material span.name {
	font-weight: 500;
}

div#items table#table td span.name a,
div.object-material span.name a {
	color: inherit;
}

div#items table#table td span.name.rarity1,
div.object-material span.name.rarity1 {
	color: #757575;
}

div#items table#table td span.name.rarity2,
div.object-material span.name.rarity2 {
	color: #43a047;
}

div#items table#table td span.name.rarity3,
div.object-material span.name.rarity3 {
	color: #1e88e5;
}

div#items table#table td span.name.rarity4,
div.object-material span.name.rarity4 {
	color: #8e24aa;
}



#object-card div.title-container.with-screenshots {
	position: relative;
	padding: 0;
}

#object-card div.title-container.with-screenshots div.title {
	position: absolute;
	left: 0em;
	bottom: 0em;
	padding: 1em 1.5em;
	background: rgba(45, 45, 45, 0.25);
	color: rgba(255, 255, 255, 0.73);
}

#object-card div.title-container.with-screenshots span.name.rarity1 {
	color: #bdbdbd;
}

#object-card div.title-container.with-screenshots span.name.rarity2 {
	color: #81c784;
}

#object-card div.title-container.with-screenshots span.name.rarity3 {
	color: #64b5f6;
}

#object-card div.title-container.with-screenshots span.name.rarity4 {
	color: #ba68c8;
}

#object-card div.screenshots {
	max-height: 150px;
	overflow: hidden;
	white-space: nowrap;
	line-height: 0;
	transition: max-height 1s ease-out;
	cursor: pointer;
}

#object-card div.screenshots.expanded {
	max-height: 800px;
	height: 100%;
}

#object-card div.screenshots div.images {
	font-size: 0;
}

#object-card div.screenshots div.images img {
	width: 100%;
	margin-top: -10%;
	transition: margin-top 1s ease-out;
}

#object-card div.screenshots div.images img:first-child {
	margin-left: -100%;
}

@keyframes go-prev {
	from { margin-left: -100%; }
	to { margin-left: 0; }
}

@keyframes go-next {
	from { margin-left: -100%; }
	to { margin-left: -200%; }
}

@-webkit-keyframes go-prev {
	from { margin-left: -100%; }
	to { margin-left: 0; }
}

@-webkit-keyframes go-next {
	from { margin-left: -100%; }
	to { margin-left: -200%; }
}

#object-card div.screenshots div.images.go-prev img:first-child {
	margin-left: 0%;
	animation: go-prev 1s ease-out;
	-webkit-animation: go-prev 1s ease-out;
}

#object-card div.screenshots div.images.go-next img:first-child {
	margin-left: -200%;
	animation: go-next 1s ease-out;
	-webkit-animation: go-next 1s ease-out;
}

#object-card div.screenshots.expanded div.images img {
	margin-top: 0;
}

#object-card div.screenshots div.control {
	display: none;
}

#object-card div.screenshots div.control.disabled {
	cursor: default;
}

#object-card div.screenshots.expanded div.control {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10%;
}

#object-card div.screenshots.expanded div.control.prev {
	left: 0;
}

#object-card div.screenshots.expanded div.control.next {
	right: 0;
}

#object-card div.screenshots.expanded div.control.prev span {
	left: 1.5em;
}

#object-card div.screenshots.expanded div.control.next span {
	right: 1.5em;
}

#object-card div.screenshots.expanded div.control span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#object-card div.screenshots.expanded div.control span i {
	font-size: 2.2em;
	color: rgba(255, 255, 255, 0.20);
}

#object-card div.screenshots.expanded div.control:hover span i {
	color: rgba(255, 255, 255, 0.73);
}



div.character-restriction.disabled {
	color: #ef5350;
}

div.character-restriction.enabled {
	color: #66bb6a;
}

