
@import url('base.css');
@import url(//fonts.googleapis.com/css?family=RobotoDraft:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);



html {
	height: 100%;
	cursor: default;
	font-family: 'RobotoDraft', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: rgba(0, 0, 0, 0.73);
	background: #eee;
}

html.loading * {
	cursor: progress;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	outline: none;
}

table {
	border-collapse: collapse;
}

ul, ol, dl {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

abbr {
	border-bottom: 1px dotted;
	cursor: help;
}

a,
a:visited,
a:focus {
	outline: none;
	text-decoration: none;
	color: #15C;
}



.z1 {
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.z2 {
	box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.z3 {
	box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19);
}

.z4 {
	box-shadow: 0px 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.z5 {
	box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
}

@keyframes appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes disappear {
	from { opacity: 1; }
	to { opacity: 0; }
}

@-webkit-keyframes disappear {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slideout {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes slideout {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}



div#content {
	overflow-y: scroll;
}

div#main-view {
	margin: 1em 0;
	background: #fff url('/assets/card-background.png') no-repeat bottom right;
}

div#footer {
	margin-bottom: 1em;
	font-size: 0.9em;
	font-weight: 300;
}



div#items div#menu-container {
	background-color: #00acc1;
}

div#items table#menu {
	width: 100%;
	font-size: 0.7em;
	color: #fff;
}

div#items table#menu td.group {
	padding: 0.6em;
	background-color: #00838f;
	text-align: center;
}

div#items table#menu td.type {
	padding: 0.3em;
	background-color: #0097a7;
	text-align: center;
}

div#items table#menu td.type a {
	padding: 0.3em;
}

div#items table#menu td.category {
	padding: 0.3em;
}

div#items table#menu td.category a {
	float: left;
	margin-right: 0.3em;
	padding: 0.3em;
}

div#items table#menu td {
	text-transform: uppercase;
}

div#items table#menu tr.group-first-row td {
	border-top: 1px dotted;
}

div#items table#menu tr.group-first-row:first-child td {
	border-top: none;
}

div#items table#menu a {
	color: inherit;
	white-space: nowrap;
}

div#items table#menu a:hover,
div#items table#menu a.active {
	color: #ffd180;
}



div#items div#table-container {
	padding: 1em 0;
}

div#items div#table-view.ng-enter,
div#items table#table tr.ng-enter {
	animation: appear 0.5s ease-out;
	-webkit-animation: appear 0.5s ease-out;
}

div#items table#table tr.ng-enter {
	-ms-animation: none;
}

div#items table#table {
	width: 100%;
}

div#items table#table th {
	text-align: left;
	font-size: 0.9em;
	font-weight: 300;
	white-space: nowrap;
}

div#items table#table th:hover {
	background-color: #f5f5f5;
}

div#items table#table th div.name {
	padding: 0.3em 0 0.3em 0.6em;
	cursor: pointer;
}

div#items table#table td {
	padding: 0.3em 0.6em;
	border-bottom: 1px solid #ddd;
	font-size: 0.9em;
}

div#items table#table tr:last-child td {
	border-bottom: none;
}

div#items table#table th:first-child,
div#items table#table td:first-child {
	padding-left: 1.5em;
}

div#items table#table td:first-child {
	width: 41px;
}

div#items table#table tr.selected td {
	background-color: #f5f5f5;
}

div#items table#table tbody.empty td {
	padding: 3em;
	text-align: center;
}

div#items table#table td div.icon {
	cursor: help;
}



div#items table#table th div.menu i.open {
	visibility: hidden;
	padding: 0.3em 0.6em;
	cursor: pointer;
}

div#items table#table th:hover div.menu i.open,
div#items table#table th.option-enabled div.menu i.open {
	visibility: visible;
}

div#items table#table th div.menu:hover i.open,
div#items table#table th.option-enabled div.menu i.open {
	color: #ffd180;
}

div#items table#table th div.menu {
	position: relative;
}

div#items table#table th div.menu ol.options {
	position: absolute;
	margin-top: -10px;
	padding: 1em 0;
	background-color: #f5f5f5;
}

div#items table#table th div.menu ol.options li {
	padding: 0.3em 2em 0.3em 1em;
	cursor: pointer;
}

div#items table#table th div.menu ol.options li:hover {
	background-color: #e0e0e0;
}

div#items table#table th div.menu ol.options li i {
	width: 1em;
}



div.object-material div.title span.name {
	white-space: nowrap;
}

div.object-material div.title div.icon {
	padding-right: 1em;
}

div.object-material div.title div.set,
div.object-material div.title div.parts,
div.object-material div.requirements > span {
	font-size: 0.9em;
}

div.object-material div.main {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

div.object-material ul.stats span.stat,
div.object-material div.effects span.effect {
	white-space: nowrap;
}

div.object-material ul.stats span.key,
div.object-material div.effects span.key {
	font-weight: 500;
}

div.object-material ul.stats li {
	display: inline;
	padding-right: 0.3em;
}

div.object-material ul.stats + div.description {
	margin-top: 1em;
}

div.object-material div.effects {
	padding-left: 2em;
}

div.object-material div.effects i {
	margin: 0 0.3em;
}

div.object-material div.effects span.value {
	padding-right: 0.3em;
}

div.object-material ul.parts {
	border-right: 1px solid #ddd;
}

div.object-material div.recipe.npc {
	border-right: 1px solid #ddd;
}

div.object-material div.recipe div.crafted-by {
	height: 55px;
	border-bottom: 1px solid #ddd;
}

div.object-material div.recipe div.crafted-by img {
	cursor: help;
	padding-right: 0.5em;
}

div.object-material div.recipe div.crafted-by span.expertise {
	font-weight: 500;
}

div.object-material div.recipe.npc ul.mats {
	margin: 1em 2em 1em 0;
}

div.object-material div.recipe.pc ul.mats {
	margin: 1em 0 1em 2em;
}

div.object-material div.recipe ul.mats li.mat,
div.object-material ul.parts li.part {
	margin-top: 0.3em;
	font-size: 0.9em;
}

div.object-material div.recipe ul.mats div.icon,
div.object-material ul.parts li.part div.icon {
	padding-right: 1em;
	cursor: help;
}

div.object-material div.recipe div.appear span.quest {
	font-weight: 500;
}

@media (max-width: 959px) {

	div.object-material div.recipe.npc {
		border-right: 0;
		margin-bottom: 1em;
	}

	div.object-material div.recipe.npc ul.mats {
		margin: 0;
	}

	div.object-material div.recipe.pc ul.mats {
		margin: 0;
	}

}



div#object-hovercard {
	position: fixed;
	z-index: 1000;
	width: 27em;
	padding: 0.5em 0;
	font-size: 0.9em;
	background-color: #f5f5f5;
}

div#object-hovercard.ng-hide {
	display: block !important;
	visibility: hidden;
}

div#object-hovercard.ng-hide-remove {
	animation: slideout 0.1s ease;
	-webkit-animation: slideout 0.1s ease;
}

div#object-hovercard > div > * {
	padding: 0.5em 1em;
}



div#object-card-container {
	position: fixed;
	z-index: 100;
	overflow-y: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(229, 229, 229, 0.75);
}

div#object-card {
	margin: 10% auto;
	padding: 0.5em 0;
	font-size: 0.9em;
	background-color: #f5f5f5;
}

div#object-card-view.ng-enter {
	animation: appear 0.3s ease-out;
	-webkit-animation: appear 0.3s ease-out;
}

div#object-card-view.ng-enter div#object-card {
	animation: slideout 0.3s ease;
	-webkit-animation: slideout 0.3s ease;
}

div#object-card-view.ng-leave {
	animation: disappear 0.3s ease-out;
	-webkit-animation: disappear 0.3s ease-out;
}

div#object-card-view.ng-leave {
	-ms-animation: none;
}

div#object-card > div > * {
	padding: 1em 1.5em;
}



div#items table#table td div.icon,
div.object-material div.icon {
	width: 40px;
	height: 40px;
}

div.object-material div.recipe div.icon,
div.object-material ul.parts div.icon {
	width: 30px;
	height: 30px;
}

div#items table#table td div.icon img,
div.object-material div.icon img {
	border: 1px solid #555;
	border-radius: 20px;
	background: url('/data/icons/0.png') no-repeat center center;
}

div#items table#table td span.name,
div.object-material span.name {
	font-weight: 500;
}

div#items table#table td span.name a,
div.object-material span.name a {
	color: inherit;
}

div#items table#table td span.name.rarity1,
div.object-material span.name.rarity1 {
	color: #757575;
}

div#items table#table td span.name.rarity2,
div.object-material span.name.rarity2 {
	color: #43a047;
}

div#items table#table td span.name.rarity3,
div.object-material span.name.rarity3 {
	color: #1e88e5;
}

div#items table#table td span.name.rarity4,
div.object-material span.name.rarity4 {
	color: #8e24aa;
}



div.character-restriction.disabled {
	color: #ef5350;
}

div.character-restriction.enabled {
	color: #66bb6a;
}

