<div class="items-filter-container">
	<table class="items-filter">
		<tr class="group-first-row" ng-repeat-start="group in itemsFilter.groups">
			<td class="group" rowspan="{{group.types.length}}">
				{{group.name}}
			</td>
			<td class="type">
				<a ui-sref="items.group-type({ groupId: group.id, typeId: group.types[0].id })">{{group.types[0].name}}</a>
			</td>
			<td class="category">
				<a ng-repeat="category in group.types[0].categories" ui-sref="items.group-type-category({ groupId: group.id, typeId: group.types[0].id, categoryId: category.id })">{{category.name}}</a>
			</td>
		</tr>
		<tr ng-repeat-end="" ng-repeat="type in group.types" ng-if="$index > 0">
			<td class="type">
				<a ui-sref="items.group-type({ groupId: group.id, typeId: type.id })">{{type.name}}</a>
			</td>
			<td class="category">
				<a ng-repeat="category in type.categories" ui-sref="items.group-type-category({ groupId: group.id, typeId: type.id, categoryId: category.id })">{{category.name}}</a>
			</td>
		</tr>
	</table>
</div>
