<div id="item-hovercard" class="item-hovercard z2" ng-style="style" ng-show="visible">
	<div layout="vertical">
		<div class="name" layout="horizontal" layout-align="start center">
			<div><item-icon icon-id="{{item.iconId}}" /></div>
			<div flex>
				<span class="name rarity{{item.rarity}}">{{item.name}}</span>
			</div>
		</div>
		<div class="items" ng-if="item.items">
			<span ng-repeat="item in item.items">{{item}}{{!$last ? ', ' : ''}}</span>
		</div>
		<div class="main">
			<ul class="stats" ng-if="itemStats.length">
				<li ng-repeat="stat in itemStats">
					<span>
						<span class="key">{{stat.name}}</span>
						<span class="value">{{item.stats[stat.id]}}{{!$last ? ',' : '' }}</span>
					</span>
				</li>
			</ul>
			<div class="effects" ng-if="item.setEffects">
				<div class="effect" ng-repeat="(itemCount, setEffect) in item.setEffects">
					<span class="count">{{itemCount}} part bonus</span>
					<i class="fa fa-angle-double-right"></i>
					<span ng-repeat="(key, value) in setEffect">
						<span class="key">{{key}}</span>
						<span class="value">{{value}}{{!$last ? ',' : '' }}</span>
					</span>
				</div>
			</div>
			<div class="description" ng-if="item.description">{{item.description}}</div>
		</div>
		<div class="usable-by">
			<span ng-if="item.classRestriction.length">
				<span>Only for </span>
				<span class="characters">
					<span class="character" ng-repeat="character in item.classRestriction">{{character}}{{!$last ? ', ' : '' }}</span>.
				</span>
			</span>
			<span>For levels {{item.requiredLevel}} and above.</span>
			<span ng-if="item.requiredSkill && !item.requiredSkills">Requires {{item.requiredSkill}} rank {{item.requiredSkillRank}} or above.</span>
			<span ng-if="!item.requiredSkill && item.requiredSkills">Requires <span ng-repeat="(requiredSkill, requiredSkillRank) in item.requiredSkills">{{requiredSkill}} rank {{requiredSkillRank}}{{!$last ? ' and ' : ''}}</span> or above.</span>
		</div>
	</div>
</div>
