<div layout-md="horizontal" layout-sm="vertical">
	<div class="recipe npc" layout="vertical" flex-md="50" flex-sm>
		<div class="crafted-by" layout="horizontal" ng-if="object.recipes.npc">
			<div><img width="55" height="55" title="{{shop.name}}" ng-src="/assets/{{shop.key}}.png" ng-repeat="shop in object.recipes.npc.shops" /></div>
		</div>
		<div class="crafted-by" layout="horizontal" layout-align="center center" ng-if="!(object.recipes.npc)">
			<div><span>Not crafted by NPCs.</span></div>
		</div>
		<ul class="mats">
			<li class="mat" ng-repeat="mat in object.recipes.npc.mats">
				<div layout="horizontal" layout-align="start center">
					<div class="icon" object-hovercard="{{mat.key}}.mat"><img width="30" height="30" ng-src="/data/icons/{{mat.iconID != null ? mat.iconID : 0}}.png" /></div>
					<span class="name rarity{{mat.rarity}}" flex>{{mat.name}}</span>
					<span>x{{mat.count | number}}</span>
				</div>
			</li>
		</ul>
		<div class="appear" layout="horizontal" layout-align="center center" ng-if="object.recipes.npc.appearQuestName || object.recipes.npc.appearQuestNames">
			<div>
				<span>Recipe unlocked after </span>
				<span ng-if="object.recipes.npc.appearQuestName">
					<span class="quest">{{object.recipes.npc.appearQuestName}}</span>.
				</span>
				<span ng-if="object.recipes.npc.appearQuestNames" ng-repeat="appearQuestName in object.recipes.npc.appearQuestNames">
					<span class="quest">{{appearQuestName}}</span>{{!$last ? ' and ' : '.' }}
				</span>
			</div>
		</div>
	</div>
	<div class="recipe pc" layout="vertical" flex-md="50" flex-sm>
		<div class="crafted-by" layout="horizontal" layout-align="center center">
			<div ng-if="object.recipes.pc.expertiseName">
				<span class="expertise">{{object.recipes.pc.expertiseName}}</span>
				<span class="proficiency">({{object.recipes.pc.expertiseExperienceRequired}})</span>
			</div>
			<div ng-if="object.recipes.pc.expertises">
				<span ng-repeat="expertise in object.recipes.pc.expertises">
					<span class="expertise">{{expertise.name}}</span>
					<span class="proficiency">({{expertise.experienceRequired}})</span>
					{{!$last ? ' and ' : '' }}
				</span>
			</div>
			<div ng-if="!(object.recipes.pc)">
				<span>Not crafted with expertise.</span>
			</div>
		</div>
		<ul class="mats" ng-if="object.recipes.pc">
			<li class="mat" ng-repeat="mat in object.recipes.pc.mats">
				<div layout="horizontal" layout-align="start center">
					<div class="icon" object-hovercard="{{mat.key}}.mat"><img width="30" height="30" ng-src="/data/icons/{{mat.iconID != null ? mat.iconID : 0}}.png" /></div>
					<span class="name rarity{{mat.rarity}}" flex>{{mat.name}}</span>
					<span>x{{mat.count | number}}</span>
				</div>
			</li>
		</ul>
	</div>
</div>
