<ul class="stats" ng-if="object.stats.length > 0">
	<li ng-repeat="stat in object.stats">
		<span class="stat">
			<span class="key">{{stat.name}}</span>
			<span class="value">{{stat.value}}{{!$last ? ',' : '' }}</span>
		</span>
	</li>
</ul>
<div class="effects" ng-if="object.effects != null">
	<div ng-repeat="(partCount, effect) in object.effects">
		<span>{{partCount}} parts</span>
		<i class="fa fa-angle-double-right"></i>
		<span class="effect" ng-repeat="(name, value) in effect">
			<span class="key">{{name}}</span>
			<span class="value">{{value}}{{!$last ? ',' : '' }}</span>
		</span>
	</div>
</div>
<div class="description" ng-if="object.description">{{object.description}}</div>
