<div class="enhance" layout="vertical">
	<div class="levels" layout="horizontal" ng-class="{ 'clear': card.enhance.start == null }">
		<div class="level risk-{{object.enhanceType[key].risk}}" title="{{object.enhanceType[key].chance * 100}}% success chance, {{object.enhanceType[key].risk == 'none' ? 'no penalty' : (object.enhanceType[key].risk == 'downgrade' ? 'downgrade enhancement by 1' : (object.enhanceType[key].risk == 'reset' ? 'reset enhancement' : (object.enhanceType[key].risk == 'break' ? 'break item' : 'unknown')))}} on failure." ng-class="{ 'selected': object.enhanceType[key].level >= card.enhance.start && object.enhanceType[key].level <= card.enhance.end, 'start': object.enhanceType[key].level == card.enhance.start, 'end': object.enhanceType[key].level == card.enhance.end, 'unselected': card.enhance.start != null && (object.enhanceType[key].level < card.enhance.start || object.enhanceType[key].level > card.enhance.end) }" ng-repeat="key in object.enhanceType.keys" flex>
			<div class="name" layout="horizontal" layout-align="center center" ng-click="card.setEnhanceEnd(object.enhanceType[key].level)">
				<div class="selector" layout="horizontal" layout-align="center center" data-level="{{object.enhanceType[key].level}}" ng-class="{ 'enabled': object.enhanceType[key].level == card.enhance.start || object.enhanceType[key].level == card.enhance.end, 'start': object.enhanceType[key].level == card.enhance.start, 'end': object.enhanceType[key].level == card.enhance.end }" enhance-selector>
					<span>+{{key}}</span>
				</div>
			</div>
			<div class="marker"></div>
			<div class="chance" layout="horizontal" layout-align="center center">
				<span>{{object.enhanceType[key].chance * 100}}%</span>
			</div>
		</div>
	</div>
	<div class="info" ng-if="card.enhance.start != null">
		<div>
			<div>Grants:</div>
			<ul class="properties">
				<li ng-repeat="property in card.enhance.properties">
					<span class="property">
						<span class="key">{{property.shortName}}</span>
						<span class="value">{{property.value > 0 ? '+' : ''}}{{property.value}}{{!$last ? ',' : '' }}</span>
					</span>
				</li>
			</ul>
		</div>
		<div>
			<div>Requires:</div>
			<ul class="mats">
				<li class="mat" ng-repeat="mat in card.enhance.mats | orderBy: 'order'">
					<span class="name rarity{{mat.rarity}}">{{mat.name}}</span>
					<span>x{{mat.count | number}}{{!$last ? ', ' : ''}}</span>
				</li>
			</ul>
		</div>
		<div>
			<div>Chance:</div>
			<div class="chance"><span>Enhancement without a failure <span ng-if="card.enhance.start != 1">from <strong>+{{card.enhance.start - 1}}</strong> </span>to <strong>+{{card.enhance.end}}</strong> has a <strong>{{card.enhance.chance}}% chance</strong>, more than <strong>{{card.enhance.tries}} <ng-pluralize count="card.enhance.tries" when="{ '1': 'try', 'other': 'tries' }"></ng-pluralize></strong> required for a {{card.enhance.probability}}% probability.</span></div>
		</div>
	</div>
</div>
