<ul class="properties" ng-if="object.type == 'equip' || object.type == 'set'">
	<li ng-repeat="key in (card ? object.propertyKeys : object.basePropertyKeys)">
		<span class="property">
			<span class="key">{{object.properties[key].shortName}}</span>
			<span class="value">{{card ? object.properties[key].value : object.properties[key].baseValue}}{{!$last || (card && object.type == 'equip' && object.parts != null) || (card && object.qualityTypeKey) ? ',' : '' }}</span>
		</span>
	</li>
	<li class="menu-container" ng-if="card && object.equipParts != null">
		<span class="property rarity">
			<span class="name rarity{{object.rarity}}" ng-click="card.grade.openMenu();">{{card.grade.name}}</span>{{ (card && object.qualityTypeKey) ? ',' : '' }}
		</span>
		<ol class="menu z3" ng-show="card.grade.menuOpen" ng-mouseleave="card.grade.closeMenu();">
			<li ng-click="card.grade.set(grade);" ng-repeat="grade in card.grade.options">{{grade.menuText}}</li>
		</ol>
	</li>
	<li ng-if="card && object.qualityTypeKey">
		<span class="property quality">
			<i class="fa" ng-class="{ 'fa-star': object.quality >= level, 'fa-star-o': object.quality < level }" ng-click="object.setQuality(level)" ng-repeat="level in card.getQualityOptions()"></i>
		</span>
	</li>
</ul>
<dl class="properties" ng-if="object.type == 'enchant'">
	<dt ng-repeat-start="key in object.propertyKeys" ng-if="key.condition != ''">{{key.condition}}</dt>
	<dd ng-repeat-end>
		<ul class="properties">
			<li ng-repeat="propertyKey in key.keys">
				<span ng-class="{ property: object.properties[key.condition][propertyKey].value, effect: !object.properties[key.condition][propertyKey].value }">
					<span class="key">{{object.properties[key.condition][propertyKey].shortName}}</span>
					<span class="value">{{object.properties[key.condition][propertyKey].value}}{{!$last ? ',' : '' }}</span>
				</span>
			</li>
		</ul>
	</dd>
</dl>
<div class="description" ng-if="object.description">{{object.description}}</div>
