<ul class="properties" ng-if="object.properties.length > 0">
	<li ng-repeat="property in object.properties" ng-if="object[property.key] != 0">
		<span class="property">
			<span class="key">{{property.shortName}}</span>
			<span class="value">{{object[property.key]}}{{!$last || (card && object.quality) ? ',' : '' }}</span>
		</span>
	</li>
	<li ng-if="card && object.quality">
		<span class="property quality">
			<i class="fa" ng-class="{ 'fa-star': object.quality >= level, 'fa-star-o': object.quality < level }" ng-click="card.setQuality(level)" ng-repeat="level in [1, 2, 3, 4, 5]"></i>
		</span>
	</li>
</ul>
<div class="description" ng-if="object.description">{{object.description}}</div>
